## Pull data from Quandl
Please open a free student account on Quandl: https://www.quandl.com/

You will have to access the data on continuous Eurodollar futures that is free in the CHRIS database:

https://www.quandl.com/data/CHRIS-Wiki-Continuous-Futures/documentation/introduction

Once you register, the access token will be auto-generated for your use in Python.

In [61]:
import quandl
token = "bPGmPJ9_Htme3REKTKtT"
n = range(1,21)
nms = ["CHRIS/CME_ED"+str(i) for i in n]
dfs = [quandl.get(nm, authtoken=token) for nm in nms] #an array of pandas data frames

Note, that everyone should get an account on Quandl, so you should all have different access keys.

After you access the data, construct a single data frame with all Settle prices: Settle_ED1, Settle_ED2, ....

In [62]:
import pandas as pd
data = [data_set.Settle for data_set in dfs] #pull column Settle
new_data = pd.concat(data,axis=1) #combine cols together
new_data.columns = ["Settle_ED"+str(i) for i in n]
new_data

,Settle_ED1,Settle_ED2,Settle_ED3,Settle_ED4,Settle_ED5,Settle_ED6,Settle_ED7,Settle_ED8,Settle_ED9,Settle_ED10,Settle_ED11,Settle_ED12,Settle_ED13,Settle_ED14,Settle_ED15,Settle_ED16,Settle_ED17,Settle_ED18,Settle_ED19,Settle_ED20
Date,,,,,,,,,,,,,,,,,,,,
1982-02-01,83.7400,83.690,83.690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-02,83.8800,83.850,83.850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-03,83.7300,83.890,83.910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-04,83.8500,83.930,83.910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-05,83.8500,83.930,83.910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-08,83.5800,83.730,83.730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-09,83.3900,83.640,83.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-10,83.5100,83.720,83.880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-11,83.4300,83.700,83.970,84.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-12,83.3600,83.640,83.980,84.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-16,83.2900,83.660,84.100,84.450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-17,83.4300,83.750,84.100,84.450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-18,84.0400,84.260,84.500,84.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-19,84.0000,84.250,84.480,84.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-22,84.9900,85.080,85.230,85.550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-23,85.1300,85.060,85.100,85.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-24,85.3900,85.180,85.150,85.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-25,85.2000,85.060,85.190,85.270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-26,84.8700,84.670,84.800,85.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-01,85.3300,85.150,85.180,85.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-02,85.3000,85.220,85.250,85.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-03,85.3900,85.420,85.450,85.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-04,85.4900,85.620,85.600,85.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-05,85.5300,85.610,85.570,85.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-08,85.6300,85.720,85.700,85.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-09,85.4000,85.440,85.440,85.630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-10,85.2800,85.300,85.410,85.550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-11,84.9900,85.010,85.150,85.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-12,84.8800,84.780,84.950,85.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-15,84.8800,84.740,84.870,85.030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-10-12,98.4900,98.360,98.255,98.180,98.100,98.050,98.010,97.975,97.920,97.895,97.870,97.840,97.795,97.770,97.735,97.700,97.655,97.630,97.595,97.560
2017-10-13,98.5050,98.375,98.275,98.205,98.125,98.080,98.040,98.010,97.960,97.935,97.910,97.885,97.840,97.815,97.785,97.750,97.705,97.680,97.645,97.610
2017-10-16,98.4950,98.350,98.235,98.150,98.065,98.015,97.970,97.940,97.890,97.870,97.850,97.825,97.780,97.760,97.730,97.700,97.660,97.635,97.605,97.570
2017-10-17,98.4900,98.350,98.235,98.150,98.060,98.005,97.960,97.925,97.875,97.855,97.835,97.810,97.770,97.750,97.720,97.690,97.650,97.630,97.600,97.565
2017-10-18,98.4900,98.350,98.235,98.145,98.055,97.995,97.945,97.905,97.850,97.830,97.805,97.780,97.735,97.715,97.685,97.650,97.610,97.585,97.555,97.520
2017-10-19,98.4950,98.360,98.250,98.165,98.080,98.020,97.965,97.925,97.870,97.845,97.820,97.795,97.750,97.725,97.695,97.665,97.620,97.595,97.565,97.530
2017-10-20,98.4900,98.350,98.235,98.150,98.055,97.990,97.935,97.890,97.830,97.800,97.770,97.740,97.695,97.665,97.630,97.595,97.555,97.530,97.495,97.455
2017-10-23,98.4950,98.360,98.250,98.165,98.075,98.010,97.955,97.910,97.850,97.820,97.790,97.760,97.715,97.685,97.650,97.615,97.570,97.545,97.510,97.470
2017-10-24,98.4900,98.355,98.245,98.160,98.070,98.005,97.945,97.895,97.835,97.805,97.770,97.735,97.690,97.660,97.625,97.585,97.540,97.510,97.475,97.435
2017-10-25,98.4900,98.345,98.225,98.140,98.045,97.975,97.915,97.865,97.805,97.770,97.735,97.700,97.650,97.615,97.580,97.540,97.495,97.465,97.425,97.385
2017-10-26,98.4850,98.340,98.220,98.130,98.035,97.965,97.900,97.850,97.785,97.755,97.720,97.685,97.640,97.610,97.575,97.535,97.490,97.460,97.425,97.385
2017-10-27,98.4850,98.350,98.235,98.150,98.055,97.990,97.930,97.880,97.820,97.790,97.755,97.720,97.675,97.645,97.610,97.570,97.525,97.495,97.460,97.420
2017-10-30,98.4900,98.360,98.250,98.170,98.085,98.025,97.970,97.925,97.870,97.840,97.810,97.780,97.735,97.705,97.670,97.635,97.590,97.560,97.525,97.485
2017-10-31,98.4900,98.350,98.235,98.155,98.075,98.020,97.965,97.920,97.865,97.835,97.805,97.775,97.730,97.700,97.665,97.630,97.585,97.560,97.525,97.485
2017-11-01,98.4850,98.335,98.215,98.135,98.055,98.000,97.950,97.905,97.850,97.825,97.795,97.760,97.715,97.685,97.650,97.615,97.570,97.545,97.510,97.475
2017-11-02,98.4850,98.340,98.225,98.150,98.075,98.020,97.970,97.930,97.875,97.850,97.820,97.790,97.745,97.715,97.685,97.650,97.605,97.580,97.545,97.510
2017-11-03,98.4800,98.330,98.215,98.140,98.065,98.010,97.955,97.915,97.865,97.840,97.815,97.785,97.740,97.715,97.685,97.650,97.610,97.585,97.555,97.520
2017-11-06,98.4750,98.330,98.215,98.140,98.070,98.020,97.975,97.935,97.885,97.860,97.835,97.810,97.770,97.740,97.710,97.680,97.640,97.615,97.585,97.555
2017-11-07,98.4650,98.320,98.205,98.135,98.065,98.015,97.970,97.935,97.885,97.860,97.835,97.810,97.770,97.745,97.715,97.685,97.645,97.625,97.600,97.565
2017-11-08,98.4600,98.320,98.205,98.130,98.060,98.010,97.965,97.930,97.880,97.855,97.830,97.805,97.760,97.735,97.705,97.675,97.635,97.615,97.585,97.555
2017-11-09,98.4700,98.325,98.210,98.140,98.070,98.020,97.975,97.935,97.885,97.860,97.835,97.805,97.760,97.735,97.705,97.670,97.630,97.605,97.575,97.540
2017-11-10,98.4650,98.310,98.190,98.115,98.040,97.985,97.935,97.895,97.840,97.810,97.780,97.750,97.700,97.670,97.635,97.600,97.555,97.530,97.495,97.460
2017-11-13,98.4675,98.300,98.175,98.095,98.010,97.955,97.905,97.860,97.805,97.780,97.755,97.725,97.680,97.655,97.625,97.595,97.550,97.525,97.495,97.465
2017-11-14,98.4675,98.300,98.175,98.095,98.015,97.960,97.910,97.870,97.820,97.795,97.770,97.740,97.695,97.670,97.640,97.610,97.565,97.540,97.515,97.480
2017-11-15,98.4675,98.310,98.185,98.110,98.035,97.985,97.940,97.905,97.855,97.830,97.805,97.780,97.740,97.715,97.685,97.655,97.620,97.600,97.570,97.540
2017-11-16,98.4625,98.295,98.160,98.080,98.005,97.955,97.905,97.870,97.820,97.795,97.770,97.745,97.700,97.675,97.650,97.620,97.580,97.560,97.535,97.505
2017-11-17,98.4575,98.295,98.160,98.080,98.010,97.960,97.910,97.875,97.825,97.805,97.780,97.755,97.710,97.685,97.660,97.630,97.590,97.570,97.545,97.515
2017-11-20,98.4500,98.275,98.135,98.045,97.970,97.920,97.875,97.840,97.790,97.770,97.745,97.720,97.680,97.655,97.630,97.600,97.565,97.545,97.520,97.490
2017-11-21,98.4475,98.265,98.115,98.025,97.950,97.895,97.845,97.810,97.765,97.745,97.725,97.700,97.660,97.640,97.620,97.600,97.565,97.550,97.530,97.505
2017-11-22,98.4500,98.285,98.145,98.065,98.000,97.955,97.910,97.880,97.835,97.815,97.795,97.770,97.730,97.710,97.685,97.655,97.620,97.605,97.580,97.555

## Write a short report summarizing the overall data set, its size, quality and gaps.

In [63]:
#the overall data set:
new_data.describe()

,Settle_ED1,Settle_ED2,Settle_ED3,Settle_ED4,Settle_ED5,Settle_ED6,Settle_ED7,Settle_ED8,Settle_ED9,Settle_ED10,Settle_ED11,Settle_ED12,Settle_ED13,Settle_ED14,Settle_ED15,Settle_ED16,Settle_ED17,Settle_ED18,Settle_ED19,Settle_ED20
count,9011.000000,9010.000000,9020.000000,8975.000000,8602.000000,8576.000000,8368.000000,8317.000000,7647.000000,7642.000000,7576.000000,7512.000000,6888.000000,6822.000000,6770.000000,6695.000000,5926.000000,5870.000000,5797.000000,5741.000000
mean,95.392811,95.264023,95.114846,94.974125,95.111225,94.940801,94.986730,94.869140,95.123916,95.005467,94.891238,94.783817,95.019626,94.926887,94.814072,94.718108,95.059522,94.987781,94.949164,94.899158
std,3.420464,3.475819,3.503820,3.469610,3.180646,3.170636,2.938828,2.884326,2.604870,2.572624,2.551484,2.529217,2.288698,2.268947,2.720825,2.707930,2.537738,2.536147,1.910339,1.896805
min,83.290000,83.640000,83.690000,83.970000,84.850000,84.550000,86.180000,86.870000,89.250000,89.160000,89.080000,89.000000,90.280000,90.270000,6.045000,5.870000,5.700000,5.565000,91.310000,91.260000
25%,93.320000,93.181250,92.990000,92.810000,93.090000,92.910000,92.950000,92.830000,93.252500,93.180000,93.100000,93.003750,93.270000,93.200000,93.146250,93.090000,93.450000,93.370000,93.320000,93.260000
50%,94.995000,95.045000,95.050000,94.975000,95.087500,94.975000,94.910000,94.750000,94.910000,94.840000,94.747500,94.630000,94.870000,94.782500,94.705000,94.595000,94.920000,94.885000,94.850000,94.835000
75%,98.775000,98.685000,98.516250,98.375000,98.270000,98.030000,97.860000,97.595000,97.635000,97.438750,97.241250,97.060000,97.235000,97.085000,96.940000,96.795000,96.880000,96.768750,96.660000,96.590000
max,99.780000,99.770000,99.755000,99.750000,99.750000,99.740000,99.730000,99.680000,99.585000,99.465000,99.405000,99.325000,99.220000,99.110000,98.980000,98.845000,98.760000,98.705000,98.655000,98.605000

In [64]:
#size:
print("number of non-NA/null observations over each depth: \n", new_data.count())#Return Series with number of non-NA/null observations over requested axis
print("size of the data: ", new_data.size)
print("dimension of the data:", new_data.shape)

number of non-NA/null observations over each depth:
 Settle_ED1     9011
Settle_ED2     9010
Settle_ED3     9020
Settle_ED4     8975
Settle_ED5     8602
Settle_ED6     8576
Settle_ED7     8368
Settle_ED8     8317
Settle_ED9     7647
Settle_ED10    7642
Settle_ED11    7576
Settle_ED12    7512
Settle_ED13    6888
Settle_ED14    6822
Settle_ED15    6770
Settle_ED16    6695
Settle_ED17    5926
Settle_ED18    5870
Settle_ED19    5797
Settle_ED20    5741
dtype: int64
size of the data:  180440
dimension of the data: (9022, 20)

In [65]:
#quality
new_data.dtypes

Settle_ED1     float64
Settle_ED2     float64
Settle_ED3     float64
Settle_ED4     float64
Settle_ED5     float64
Settle_ED6     float64
Settle_ED7     float64
Settle_ED8     float64
Settle_ED9     float64
Settle_ED10    float64
Settle_ED11    float64
Settle_ED12    float64
Settle_ED13    float64
Settle_ED14    float64
Settle_ED15    float64
Settle_ED16    float64
Settle_ED17    float64
Settle_ED18    float64
Settle_ED19    float64
Settle_ED20    float64
dtype: object

### quality
From the above data type of each column, the column is filled with floating point values except NaNs. So, the values have a consistent data type. 

From the description table for the overall dataset, the means of all depths are around 95, and  deviations have a trend to decrease when depth is increasing. The range of minimum values is from 83 to 92, but the minimum values of Settle_ED15, Settle_ED16, Settle_ED17 and Settle_ED18 are around 6. So, the data have a good quality except the values of these 4 columns. Later, I will check with these 4 columns.

In [66]:
df = new_data[["Settle_ED15", "Settle_ED16", "Settle_ED17","Settle_ED18" ]]
set_standard_min = 70
mis = df[(df <= set_standard_min).all(axis=1)]
mis

            Settle_ED15  Settle_ED16  Settle_ED17  Settle_ED18
Date
2011-10-17        6.045        5.870         5.70        5.565
2011-10-19        6.080        5.905         5.73        5.590

So only 2 rows with date 2011-10-17 and 2011-10-19 are not reasonable. So delete these 2 rows and redescribe the data.

In [67]:
good_data = new_data.drop([mis.index[0], mis.index[1]])

In [68]:
good_data.describe()

,Settle_ED1,Settle_ED2,Settle_ED3,Settle_ED4,Settle_ED5,Settle_ED6,Settle_ED7,Settle_ED8,Settle_ED9,Settle_ED10,Settle_ED11,Settle_ED12,Settle_ED13,Settle_ED14,Settle_ED15,Settle_ED16,Settle_ED17,Settle_ED18,Settle_ED19,Settle_ED20
count,9009.000000,9008.000000,9018.000000,8973.000000,8600.000000,8574.000000,8366.000000,8315.000000,7645.000000,7640.000000,7574.000000,7510.000000,6886.000000,6820.000000,6768.000000,6693.000000,5924.000000,5868.000000,5797.000000,5741.000000
mean,95.391907,95.263108,95.113906,94.973153,95.110247,94.939784,94.985714,94.868115,95.122910,95.004473,94.890257,94.782855,95.018707,94.925988,94.840299,94.744653,95.089685,95.018255,94.949164,94.899158
std,3.420304,3.475662,3.503639,3.469385,3.180368,3.170306,2.938443,2.883915,2.604469,2.572228,2.551107,2.528866,2.288395,2.268671,2.253081,2.230710,1.935452,1.925660,1.910339,1.896805
min,83.290000,83.640000,83.690000,83.970000,84.850000,84.550000,86.180000,86.870000,89.250000,89.160000,89.080000,89.000000,90.280000,90.270000,90.210000,90.250000,91.330000,91.360000,91.310000,91.260000
25%,93.320000,93.180000,92.990000,92.810000,93.090000,92.910000,92.950000,92.830000,93.250000,93.180000,93.100000,93.001250,93.270000,93.200000,93.150000,93.090000,93.450000,93.370000,93.320000,93.260000
50%,94.995000,95.042500,95.050000,94.975000,95.085000,94.975000,94.910000,94.750000,94.905000,94.840000,94.745000,94.630000,94.867500,94.780000,94.705000,94.595000,94.920000,94.885000,94.850000,94.835000
75%,98.775000,98.685000,98.515000,98.370000,98.270000,98.030000,97.860000,97.590000,97.635000,97.435000,97.240000,97.058750,97.233750,97.085000,96.940000,96.795000,96.880000,96.770000,96.660000,96.590000
max,99.780000,99.770000,99.755000,99.750000,99.750000,99.740000,99.730000,99.680000,99.585000,99.465000,99.405000,99.325000,99.220000,99.110000,98.980000,98.845000,98.760000,98.705000,98.655000,98.605000

From the above table, the minimum values seem reasonable. In this way, the data set have good quality.

In [77]:
# gap
NaN_sum = new_data.isnull().sum()
print("number of missing values: \n", NaN_sum)
NaN_proportion = NaN_sum/new_data.shape[0]
print("\nmissing values proportionate to the whole data: \n", NaN_percent)

number of missing values:
 Settle_ED1       11
Settle_ED2       12
Settle_ED3        2
Settle_ED4       47
Settle_ED5      420
Settle_ED6      446
Settle_ED7      654
Settle_ED8      705
Settle_ED9     1375
Settle_ED10    1380
Settle_ED11    1446
Settle_ED12    1510
Settle_ED13    2134
Settle_ED14    2200
Settle_ED15    2252
Settle_ED16    2327
Settle_ED17    3096
Settle_ED18    3152
Settle_ED19    3225
Settle_ED20    3281
dtype: int64

missing values proportionate to the whole data:
 Settle_ED1     0.001219
Settle_ED2     0.001330
Settle_ED3     0.000222
Settle_ED4     0.005209
Settle_ED5     0.046553
Settle_ED6     0.049435
Settle_ED7     0.072489
Settle_ED8     0.078142
Settle_ED9     0.152405
Settle_ED10    0.152959
Settle_ED11    0.160275
Settle_ED12    0.167369
Settle_ED13    0.236533
Settle_ED14    0.243848
Settle_ED15    0.249612
Settle_ED16    0.257925
Settle_ED17    0.343161
Settle_ED18    0.349368
Settle_ED19    0.357460
Settle_ED20    0.363667
dtype: float64